# Python
__pycache__/
*.py[cod]
*.pyo

# Odoo
*.log
*.pid
*.sess
data/
backups/

# Virtual Environment
venv/

# VS Code
.vscode/

# Linux
.cache/
.bash_history

# Git
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
*.pyo

# Odoo runtime
*.log
filestore/
sessions/

# Backups
*_backup/
*.bak
*.zip

# Temporary
test.txt
